<div class="container">
  <div class="quiz-container">
    <div class="quiz-title-wrapper">
      <div class="icon">
        <img src="assets/images/Vector.png" alt="icon" />
      </div>
      <div class="quiz-title">
        <span class="number">0.1:</span>
        <span class="title"
          >An introduction to course from the interaction design foundation
        </span>
        <span class="time">(37 mins)</span>
      </div>
      <div class="quiz-time">( <span>1.5 mins</span> )</div>
    </div>
    <div class="quiz-body">
      <div
        class="toggle-questions"
        (click)="toggle()"
        [ngClass]="isShown ? 'togglecolor' : ''"
      >
        Show the questions related to this lesson
        <i class="fa-solid fa-angle-up"></i>
        <!-- <span class="svg" style="mask: url(assets/images/Vector.svg) no-repeat center" ></span> -->
        <!-- <img src="assets/images/Vector.svg" alt="" /> -->
      </div>
      <div class="questionswrapper" [ngClass]="isShown ? 'active' : ''">
        <div class="question">
          <h4>
            <span>0.1</span>
            <span class="question-title">
              What sholud I do if i do not receive a responce?
            </span>
          </h4>
          <div class="mcq">
            <div>
              <label for="firstone">
                For any aspirants of JEE, NEET, CBSE, ICSE or other board
                <input type="radio" id="firstone" name="answer-question-one" />
                <span class="checkmark"></span>
              </label>
            </div>

            <div>
              <label for="secondone">
                For any aspirants of JEE, NEET, CBSE, ICSE or other board
                <input type="radio" id="secondone" name="answer-question-one" />
                <span class="checkmark"></span>
              </label>
            </div>

            <div>
              <label for="thirdone">
                For any aspirants of JEE, NEET, CBSE, ICSE or other board
                <input type="radio" id="thirdone" name="answer-question-one" />
                <span class="checkmark"></span>
              </label>
            </div>
            <div>
              <label for="fourthone">
                For any aspirants of JEE, NEET, CBSE, ICSE or other board
                <input type="radio" id="fourthone" name="answer-question-one" />
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
        </div>
        <div class="question">
          <h4>
            <span>0.1</span>
            <span class="question-title">
              What sholud I do if i do not receive a responce?
            </span>
          </h4>
          <div class="mcq">
            <div>
              <label>
                For any aspirants of JEE, NEET, CBSE, ICSE or other board
                <input type="radio" name="answer-question-two" />
                <span class="checkmark"></span>
              </label>
            </div>

            <div>
              <label>
                For any aspirants of JEE, NEET, CBSE, ICSE or other board
                <input type="radio" name="answer-question-two" />
                <span class="checkmark"></span>
              </label>
            </div>

            <div>
              <label>
                For any aspirants of JEE, NEET, CBSE, ICSE or other board
                <input type="radio" name="answer-question-two" />
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
        </div>
        <div class="question">
          <h4>
            <span>0.1</span>
            <span class="question-title">
              What sholud I do if i do not receive a responce?
            </span>
          </h4>
          <div class="mcq">
            <div>
              <label>
                For any aspirants of JEE, NEET, CBSE, ICSE or other board
                <input type="radio" name="answer-question-three" />
                <span class="checkmark"></span>
              </label>
            </div>

            <div>
              <label>
                For any aspirants of JEE, NEET, CBSE, ICSE or other board
                <input type="radio" name="answer-question-three" />
                <span class="checkmark"></span>
              </label>
            </div>

            <div>
              <label>
                For any aspirants of JEE, NEET, CBSE, ICSE or other board
                <input type="radio" name="answer-question-three" />
                <span class="checkmark"></span
              ></label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
